---
import Icon from "astro-icon";
---
<div class="mobile-menu" id="nav-btn">
        <button id="menu-toggle"><Icon name="ion:menu"/></button>
</div>

<style>
    button{
        display: none;
    }
    @media (min-width: 0px) and (max-width: 600px) {
    button{
      display: flex;
      width: clamp(3.5rem, calc(6vw + 1rem), 7.5rem);
      border: none;
      padding: 0;
      margin: 0;
    }
   
    }
</style>
<script is:inline>
  document.getElementById('nav-btn')?.addEventListener('click', () => {
    if(!document.querySelector('nav')?.classList.contains('active')){
      document.querySelector('nav')?.classList.add('active');
    console.log('active added');

      return;

    }
    document.querySelector('nav')?.classList.toggle('active');
    console.log('clicked');
  });
</script>