---
import { getCollection } from "astro:content";
import ProjectHeader from "../utils/ProjectHeader.astro";
import SectionHeader from "../utils/SectionHeader.astro";

const allProjects = await getCollection("projects");

---
<div class="container page-sect">
    <SectionHeader header="Some examples of my previous Work"
     subHead="Websites / Applications" />
    <div class="git-portfolio">
        {
        allProjects.map((project)=>(
            <ProjectHeader header={project.data.title} subHead={project.data.desc}/>
            <ul class="tag-list">
                {project.data.tags.map((tag: string)=>(
                    <li class="tag">{tag}</li>
                ))} 
            </ul>
        ))    
        }
        
        
    </div>
</div>
<style lang="scss">
    .tag-list{
        font-size: clamp(1.2rem, 2vw + 1rem, 1.5rem);
        display: flex;
        flex-flow: row wrap;
        gap: 1rem;
    }
</style>