---
const {header, subHead} = Astro.props;
---
<div class="sect-heading">
    <h3>{header}</h3>
    <p class="sub-head">{subHead}</p>
</div>
<style>
.sect-heading{

display: flex;
flex-flow: column nowrap;
line-height: 2.5;
margin: 0;
padding: 1.5rem 0;
font-family: var(--font-family-primary-font-extended);
letter-spacing: .2rem;
}
h3{
  line-height: 1.25;
  font-size: clamp(3rem,calc(3.25vw + 1rem), 3.75rem);
  
  padding: 0;
  
  margin: 0;
}
.sub-head{
  font-size: clamp(2rem,calc(2.5vw + 1rem), 3rem);
  font-family: var(--font-family-secondary-font);
  font-weight: 200;
  line-height: 1.25;
}
@media only screen and (max-width: 600px) {

.sect-heading{
  text-align: center;
}
}
</style>