---
const {header, subHead} = Astro.props;
---
<div class="sect-heading">
    <h3>{header}</h3>
    <p class="sub-head">{subHead}</p>
</div>
<style>
.sect-heading{
  display: flex;
  text-align: left;
flex-flow: column nowrap;
line-height: 2.5;
width: 100%;
justify-content: center;
font-family: var(--font-family-primary-font-extended);
background-color: hsl(var(--color-primary-color));
color: white;
height: 20rem;
}
h3{
  line-height: 1.25;
  font-size: clamp(3rem,calc(3.25vw + 1rem), 3.75rem);
  white-space: nowrap;
  text-align: center;
}
.sub-head{
  font-size: clamp(2rem,calc(2.5vw + 1rem), 3rem);
  font-family: var(--font-family-secondary-font);
  font-weight: 200;
  line-height: 1.25;
  text-align: center;

}
</style>