---
const {name, desc,link} = Astro.props;

---


<div class="repo">
    <div class="title">
        <h2>{name}</h2>
    </div>
    <p>{desc}</p>
    <button class="git-link">View Project</button>
</div>

<style>
    .repo {
        flex: 1;
        display: flex;
        flex-flow: column wrap;
        border: 3.5px solid hsl(var(--color-primary-color));
        align-items: center;
        text-align: center;
        min-height: 25rem;
        position: relative;
        min-width: 35rem;
        margin: 5rem 0;
        border-radius: 0 0 2rem 2rem;
    }
    .title{
        width: 100%;
    }
    h2{
        background-color: hsl(var(--color-primary-color));
        color: white;
        letter-spacing: .30ch;
        font-size: clamp(1.825rem,calc(2.5vw + 1rem), 3rem);

    }
    p {
        padding: 1em;
        font-size: clamp(1rem,calc(2.5vw + 1rem), 1.5rem);
    
    }
    button {
        font-size: clamp(1rem,calc(2.5vw + 1rem), 1.5rem);
        background-color: hsl(var(--color-primary-color));
        color: white;
        border: none;
        padding: 1em;
        cursor: pointer;
        position: absolute;
        justify-content: center;
        top: 90%;
        margin: auto;
    }
    @media (min-width: 0px) and (max-width: 600px) {
        .repo{
            width: 100%;
        }
        
    }
</style>

<script define:vars={{link}}>
    const gitLinks = document.querySelectorAll('.git-link');
    gitLinks.forEach(gitLink => {
        gitLink.addEventListener('click', () => {
            window.open(link, '_blank');
        });
    });
</script>

