---

---
<section class="skill-list">

    <slot/>
</section>
<style>
    .skill-list{
        display: flex;
        flex-flow: row wrap;
        row-gap: 5.5rem;
        height: auto;
        width: 100%;
        justify-content: first baseline;

    }
</style>