---
import { Icon } from "astro-icon";
const { skill,desc,iconName } = Astro.props;
---
<div class="skill-element">
    <Icon name={iconName} class="icon"/>
    <div class="skill-title">{skill}</div>
</div>
<style lang="scss">
    .skill-element{
        display: flex;
        flex: 1;
        align-items: center;
        flex-flow: column nowrap;
        align-self: baseline;
        text-align: center;
        gap: .5rem;
        position: relative;
        padding: 1.5rem;

    }

    .skill-title{
        width: 100%;
        position: absolute;
        top: 100%;
        text-align: center;
    }


    .icon{
        height: clamp(4.5rem, calc(4vw + 1rem), 6rem);
        margin: auto;
        margin-bottom: 1rem;
        width: auto;
        &:hover{
            scale: 2/2;
        }

    }

.skill-title{
  position: relative;
  font-family: var(--font-family-secondary-font);
  &::after,&::before{
    display: block;
    content: '';
    position: absolute;
    height: .5rem;
    width: 100%;
    background-color: #17388a;
  }
  &::after{
    bottom: 100%;

  }
  &::before{
    top: 100%;
  }
}
</style>

