---
import { Icon } from "astro-icon";
const { skill,desc,iconName } = Astro.props;
---
<div class="skill-element">
    <Icon name={iconName} class="icon"/>
    <div class="skill-title">{skill}</div>
</div>
<style>
    .skill-element{
        display: flex;
        flex: 1;
        align-items: center;
        flex-flow: column nowrap;
        align-self: baseline;
        text-align: center;
        gap: .5rem;
        position: relative;
        padding: 1.5rem;

    }

    .skill-title{
        width: 100%;
        position: absolute;
        top: 100%;
        text-align: center;
        visibility: hidden;
    }


    .icon{
        height: clamp(4.5rem, calc(4vw + 1rem), 6rem);
        margin: auto;
        width: auto;


    }

</style>

