@import url("https://use.typekit.net/xcf6hfx.css");
@import url("https://use.typekit.net/xcf6hfx.css");

$secondary-header-space: 1rem;

$color-palette :(
  'primary-color': 222.78 71.43% 31.57%,
  'secondary-color': 0 0% 80%,
  'accent-color': 0 0% 100%,
  'lightblack': 100 100% 0
);

$font-families: (
        'secondary-font': "Oswald, sans-serif",
        'secondary-font-med': "Oswald Medium, sans-serif",

        'primary-font-extended': "PT Serif Pro Extended, sans-serif"
);

$font-sizes: (
        'light': 1.75rem,
        'small': 2.5rem,
        'medium': 3.5rem,
        'large': 4.5rem
);
$font-weights: (
        'light': 300,
        'normal': 400,
        'bold': 700
);
@mixin create-color-variables{
  @each $name, $color in $color-palette{
    --color-#{$name}: #{$color};
  }
}
@mixin create-font-variables {
  // Font Sizes
  @each $name, $size in $font-sizes {
    --font-size-#{$name}: #{$size};
  }

  // Font Weights
  @each $name, $weight in $font-weights {
    --font-weight-#{$name}: #{$weight};
  }

  // Font Families
  @each $name, $family in $font-families {
    --font-family-#{$name}: #{$family};
  }
}

:root{
@include create-font-variables;
@include create-color-variables;

}


body{
  width: 100vw;
  font-family: var(--font-family-primary-font-extended);
  position: relative;
  background-color: inherit;
  z-index: 2;
  font-size: 1.8rem;

}

body::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.wrapper{
  display: flex;
  flex-flow: column nowrap;
}
.container{
  width: 96%;
  align-self: center;
  margin: 0 auto;
}
p{
  font-size: clamp(1.8rem, calc(1.5vw + 1rem),2rem);
  line-height: 2;
}
.skill-element{
  &:hover{
    .skill-title{
      visibility: visible;
    }
  }
}
.skill-title{
  position: relative;
  font-family: var(--font-family-secondary-font);
  &::after,&::before{
    display: block;
    content: '';
    position: absolute;
    height: .5rem;
    width: 100%;
    background-color: #17388a;
  }
  &::after{
    bottom: 100%;

  }
  &::before{
    top: 100%;
  }
}

.page-sect{
  display: flex;
  flex-flow: column wrap;
  min-height: 100vh;
  h1,h2{
    font-family: var(--font-family-secondary-font);
    padding: .5rem 0;
  }
  .excerpt{
    flex-flow: column wrap;
    
  }
}


