@import url("https://use.typekit.net/xcf6hfx.css");
@import url("https://use.typekit.net/xcf6hfx.css");

$secondary-header-space: 1rem;

$color-palette :(
  'primary-color': 222.78 71.43% 31.57%,
  'secondary-color': 0 0% 80%,
  'accent-color': 0 0% 100%,
  'lightblack': 100 100% 0
);

$font-families: (
        'secondary-font': "Oswald, sans-serif",
        'secondary-font-med': "Oswald Medium, sans-serif",

        'primary-font-extended': "PT Serif Pro Extended, sans-serif"
);

$font-sizes: (
        'light': 1.75rem,
        'small': 2.5rem,
        'medium': 3.5rem,
        'large': 4.5rem

);
$font-weights: (
        'light': 300,
        'normal': 400,
        'bold': 700
);
@mixin create-color-variables{
  @each $name, $color in $color-palette{
    --color-#{$name}: #{$color};
  }
}
@mixin create-font-variables {
  // Font Sizes
  @each $name, $size in $font-sizes {
    --font-size-#{$name}: #{$size};
  }

  // Font Weights
  @each $name, $weight in $font-weights {
    --font-weight-#{$name}: #{$weight};
  }

  // Font Families
  @each $name, $family in $font-families {
    --font-family-#{$name}: #{$family};
  }
}

:root{
@include create-font-variables;
@include create-color-variables;

}


body{
  display: flex;
  font-family: var(--font-family-primary-font-extended);
  position: relative;
  background-color: inherit;
  z-index: 2;



}
body::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-image: url("/public/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.wrapper{
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
}
.container{
  width: 96%;
  align-self: center;
  margin: 0 auto;

}
header{
  display: flex;
  flex-flow: row wrap;
  min-height: 5rem;
  width: 95%;
  align-self: center;
  align-items: center;
  padding-block: 1.75rem;

  .brand{
    display: block;
    height: 6em;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  }


nav{
  display: flex;
  flex-flow: row nowrap;
  flex: 1;
  width: auto;
  justify-content: end;
  ul{
    display: inline-flex;
    width: auto;
    gap: 3rem;
    .nav-item{
      display: flex;
      padding: .25rem 2rem;
      border-radius: 50vh;
      &:hover{
        background-color: hsl(var(--color-primary-color));
        .nav-link{
          color: white;
        }
      }
      .nav-link{
        color: hsl(var(--color-lightblack));
        text-decoration: none;
        font-family: var(--font-family-secondary-font);
        font-weight: var(--font-weight-700);
        letter-spacing: 0.20ch;
      }
    }
  }
}
.active{
  background-color: hsl(var(--color-primary-color));
  .nav-link{
    color: white !important;
  }
}

.intro {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  min-height: 85vh;
  width: 100%;
  position: relative;
  .dev-bg {
    position: absolute;
    display: block;
    align-self: center;
    z-index: -1;
    opacity: .2;
    width: 85%;
    height: 85%;
  }


  .info {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    justify-content: center;
    text-align: center;
    gap: 10rem;
    h1{
      align-self: center;
      justify-content: center;
      font-size: clamp(var(--font-size-medium),5.5vw,var(--font-size-large));
      font-family: var(--font-family-primary-font-extended);
      white-space: nowrap;
      letter-spacing: .5rem;
    }
    p{
      align-self: center;
      justify-content: center;
      font-size: clamp(2rem,2.5vh, 3rem);

      font-family: var(--font-family-primary-font-extended);
      white-space: nowrap;
      margin: 0 15rem;
    }

    .decorator{
      height: 2rem;
      background-color: #17388a;
      align-self: center;
      border-radius: 50vh;
    }
    .left{
      border-bottom-left-radius: 0;
      border-top-left-radius:0 ;
    }
    .right{
      border-bottom-right-radius: 0;
      border-top-right-radius:0 ;
    }
  }
.git-link{
  margin: 1rem;
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  box-shadow: 15px 20px 35px 17px rgba(0,0,0,0.1);
  background-color: #17388a;
  width: auto;
  height: auto;
  font-size: 1em;
  &:focus{
    box-shadow: 0 0 0 0 rgba(0,0,0,0.1);

  }
  a{
    color: hsl(var(--color-accent-color));
    text-decoration: none;
    &:visited{
      color: hsl(var(--color-accent-color));
    }
  }
}
}

.skill-element{
  &:hover{
    .skill-title{
      visibility: visible;
    }
  }
}
.skill-title{
  position: relative;
  font-family: var(--font-family-secondary-font);
  &::after,&::before{
    display: block;
    content: '';
    position: absolute;
    height: .5rem;
    width: 100%;
    background-color: #17388a;
  }
  &::after{
    bottom: 100%;

  }
  &::before{
    top: 100%;
  }
}

.page-sect{
  display: flex;
  flex-flow: column wrap;
  min-height: 100vh;
  h1,h2{
    font-family: var(--font-family-secondary-font);
    padding: .5rem 0;
  }
  .excerpt{
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    width: 100%;
    p{
      font-size: clamp(1.5rem,10vh,2.5rem);
    }
  }
  .sect-heading{

    display: flex;
    flex-flow: column nowrap;
    line-height: 2.5em;
    margin: 0;
    padding: 1.5rem 0;
    font-family: var(--font-family-primary-font-extended);

    letter-spacing: .2rem;

    h2{
      line-height: 1.25em;

      font-size: clamp(4.75rem,3vh, 5.5rem);
      padding: 0;
      margin: 0;
    }
    .sub-head{
      font-size: clamp(3.65rem,1.5vh, 4rem);
      font-family: var(--font-family-secondary-font);
      font-weight: 200;
      line-height: 1.25em;


    }
  }
}
.contact-us{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: start;
  flex: 1;
  gap: 5rem;
  .contact-form{
    flex: .7;
    display: flex;
    gap: 1em;
    flex-flow: column nowrap;
    font-size: clamp(1.5rem,3vh,2.5rem);
    height: 100%;
    input,select,button,textarea{
      box-shadow: 1px 5px 5px 3px rgba(0,0,0,0.2);

    }
    .p-picker{
      width: 75%;
      padding: .25em 0 .25em .25em;
    }
    
    .desc-area{
      height: 40%;
      resize: none !important;

    }
    .btn-group{
      font-size: clamp(1em,1vh,3em);
      display: flex;
      flex-flow: row nowrap;
      gap: 5rem;
      button{
        padding: 0 1em;
      }
    }
  }
  .img-side{
    min-width: 25rem;
    display: flex;
    flex: .5;
    img{
      width: 70%;
      height: auto;
    }
  }
}







