---

import Header from "../layouts/Header.astro";
import { Image } from "astro:assets";
import Bio from "../layouts/Bio.astro";
import Footer from "../layouts/Footer.astro";
import HeadContainer from "../layouts/utils/Head-Container.astro";
import ContactUs from "../layouts/ContactUs.astro";


---
<HeadContainer title="Home">
    <body>
    <div class="wrapper">
        <Header/>
        <ContactUs/>
    <Footer />

    
    </div>

    </body>
    
    
</HeadContainer>