---

import Header from "../layouts/Header.astro";
import HeadContainer from "../layouts/utils/Head-Container.astro";
import Project from "../layouts/utils/Project.astro";
import Footer from "../layouts/Footer.astro";



---
<HeadContainer title="Home">
    <body>
    <div class="wrapper">
        <Header/>
        <Project />
    <Footer />
        
    </div>

    </body>
</HeadContainer>