---

import Header from "../layouts/Header.astro";
import { Image } from "astro:assets";
import Bio from "../layouts/Bio.astro";

import HeadContainer from "../layouts/utils/Head-Container.astro";


---
<HeadContainer title="Home">
    <body>
    <div class="wrapper">
        <Header/>
        <Bio/>
    </div>
    </body>
</HeadContainer>