---

import Header from "../layouts/Header.astro";
import Bio from "../layouts/Bio.astro";
import GitRepositories from '../layouts/GitRepositories.astro'
import HeadContainer from "../layouts/utils/Head-Container.astro";





---
<HeadContainer title="Home">
    <body>
    <div class="wrapper">
        <Header/>
        <GitRepositories/>
       
    </div>
    </body>
</HeadContainer>