---
import { Image } from "astro:assets";
import devImg from "../../public/developer.svg";
import SkillItem from "./utils/SkillItem.astro";
import SkillList from "./utils/SkillList.astro";
import SectionHeader from "./utils/SectionHeader.astro";
---

<section class="intro">
    <Image src={devImg} alt="dev at work" class="dev-bg"/>

    <div class="info">
        <span class="decorator left"></span>
        <h1>George Goldsmith</h1>
        <span class="decorator right"></span>
    </div>
    <div class="info">
        <span class="decorator left"></span>
        <p>Web / Software developer (Fullstack)
            <br>BAS Information Systems Technology
        </p>
        <span class="decorator right"></span>
    </div>
    <small class="git-link"> <a href="https://www.github.com" target="_blank">View My Github Repo</a></small>
</section>
<div class="container page-sect">

    <SectionHeader header="A Little About Me" subHead="My skills and hobbies"/>

    <div class="excerpt">
        <p>Hello! My name is George Goldsmith, I am a current student / employee with Liberty University
            <br>I have been with Liberty University for over a year now with the LUO Admissions team as
            an admissions evaluator and <strong>LOVE IT</strong>.<br>
            I Currently hold an Associates In Applied Science(Information Systems Technology) and am on track to finish my
            bachelors by early 2024.
            <br>I am in love with web development and just technology in general, and believe that God has called me to do this.
            <br>Some positive soft skills I have acquired throughout my years of work are....
        </p>
        <ul>
            <li>Positive attitude</li>
            <li>Willing to learn</li>
            <li>3+ Years of Customer Service experience</li>
            <li>Hard working and dedicated</li>
            <li>Quick learner</li>
        </ul>
    </div>
    <SectionHeader header="Some Skills I Have Gathered Throughout My Studies" subHead="Software / Web Development"/>
    <SkillList>
        <SkillItem skill="HTML" iconName="vscode-icons:file-type-html"/>
        <SkillItem skill="JS" iconName="vscode-icons:file-type-light-js"/>
        <SkillItem skill="CSS" iconName="vscode-icons:file-type-css"/>
        <SkillItem skill="Astro" iconName="vscode-icons:file-type-astro"/>
        <SkillItem skill="Wordpress" iconName="brandico:wordpress"/>
        <SkillItem skill="Java" iconName="logos:java"/>
        <SkillItem skill="MySQL" iconName="logos:mysql"/>
        <SkillItem skill="NodeJS" iconName="logos:nodejs"/>
        <SkillItem skill="PHP" iconName="logos:php"/>
        <SkillItem skill="API Integration" iconName="logos:postman-icon"/>
        <SkillItem skill="SCSS/SASS" iconName="vscode-icons:file-type-scss2"/>
        <SkillItem skill="Markdown" iconName="ion:logo-markdown"/>
    </SkillList>
</div>
<style>
  
    .about-me{
        margin-top: 1rem;
    }
    ul{
    /* font-size: clamp(1.2rem, 2vh,2rem); */

        width: auto;
        border: #17388a .25em solid;
        padding: 1em 2em;
        
    }

    li{
        padding: .5rem;
    }
    
.intro {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  min-height: 85vh;
  width: 100%;
  position: relative;
}
  .intro .dev-bg {
    position: absolute;
    display: block;
    align-self: center;
    z-index: -1;
    opacity: .2;
    width: 85%;
    height: 85%;
  }


  .info {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    justify-content: center;
    text-align: center;
    gap: 10rem;
  }
   .info h1{
      align-self: center;
      justify-content: center;
      font-size: clamp(3rem,4.75vw, 4.75rem);
      font-family: var(--font-family-secondary-font-med);
      white-space: nowrap;
      letter-spacing: .5rem;
      font-weight: 700;
    }
    .info p{
      align-self: center;
      justify-content: center;
      line-height: 1.5;
      /* font-size: clamp(1.75rem,3.5vw, 3.5rem); */
      font-family: var(--font-family-primary-font-extended);
      font-weight: 400;
      white-space: nowrap;
      margin: 0 15rem;
    }

    .decorator{
      height: 2rem;
      background-color: #17388a;
      align-self: center;
      border-radius: 50vh;
    }
    .left{
      border-bottom-left-radius: 0;
      border-top-left-radius:0 ;
    }
    .right{
      border-bottom-right-radius: 0;
      border-top-right-radius:0 ;
    }
  
.git-link{
  margin: 1rem;
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  box-shadow: 15px 20px 35px 17px rgba(0,0,0,0.1);
  background-color: #17388a;
  height: auto;
  font-size: clamp(1rem, 1.75vw,1.75rem);

  
}
  .git-link:focus{
    box-shadow: 0 0 0 0 rgba(0,0,0,0.1);

  }
  a{
    color: hsl(var(--color-accent-color));
    text-decoration: none;
  }
    a:visited{
      color: hsl(var(--color-accent-color));
    }
    @media only screen and (max-width: 40em) {
      }
</style>