---
import SectionHeader from "./utils/SectionHeader.astro";
import { Image } from "astro:assets";
import family from "../images/family.png";

---
<div class="container page-sect">

    <section class="contact-us">
    <SectionHeader header="Want To Hire Me?!" subHead="Contact me using the form below"/>
        <form class="contact-form" name="contact" method="post" data-netlify-recaptcha="true" netlify-honeypot="hpfield" data-netlify="true" onsubmit="submit">
          <select required id="project-type" name="project-type" class="p-picker">
              <option value="Web Design">Web Design</option>
              <option value="SEO">Seo</option>
              <option value="Contract Work">Contract Work</option>
              <option value="App Development">App Development</option>
          </select>
          <input required class="email-in" type="email" name="email"placeholder="Email Address"/>
          <input class="hidden" name="hpfield"/>
          <textarea required class="desc-area" name="message"  placeholder="Brief description of project"/>
          <div class="btn-group">
              <button type="reset">Reset</button>
              <button type="submit">Submit</button>
          </div>
          <div data-netlify-recaptcha="true"></div>
      </form>      
    </section>
</div>
<style lang="scss">
    .page-sect{
        margin-top: 2rem;
    }
    .container{
      justify-content: start;
    }
    .hidden{
      display: none;
    }
    .contact-us{
      display: flex;
      height: 100%;
      width: 100%;
      flex-flow: column nowrap;
      width: 50%;
      align-self: flex-start;
    }
  .contact-form{
    display: flex;
    gap: 1em;
    flex-flow: column nowrap;
    font-size: clamp(1.5rem,calc(3vw + 1rem),2.5rem);
    height: 100%;
    align-self: baseline;
    width: 100%;
  }
   .contact-form input,select,button,textarea{
      box-shadow: .015em .055em .055em .035em rgba(0,0,0,0.2);
      border: 1px solid hsl(var(--color-primary-color));
      padding: 0 1rem;

    }
    .p-picker{
      width: 100%;
      padding: .25em 0 .25em .25em;
    }
    
    .desc-area{
      height: 20vh;
      resize: none !important;

    }
    .btn-group{

      display: flex;
      flex-flow: row nowrap;
      gap: 5rem;
    
    }
    .btn-group button{
    font-size: clamp(1em,calc(vw + 1rem),2em);

        padding: 1rem;
        background-color: hsl(var(--color-primary-color));
        color: #FFF;
      }
      





    @media (min-width: 0px) and (max-width: 600px) {
     
        .contact-us{
          width: 100%;
            flex-direction: column;
        }
        .contact-form{
            width: 100%;
            align-items: center;
        }
        .btn-group{
            width: 100%;
            align-items: center;
            justify-content: center;
        }
       
        input,textarea{
            width: 100%;
        }
        .p-picker{
            width: 100%;
        }
}
</style>

