---
const joke = await fetch('https://v2.jokeapi.dev/joke/Programming?blacklistFlags=nsfw&type=single');
const data = await joke.json();
---
<footer>
    <div class="container">
        <section class="meta">
                    
            <strong>George Goldsmith - </strong> <a href="https://github.com/oddballadmin/" target="_blank">My Github</a>
        </section>
        <p>{new Date().toLocaleDateString()}</p>
        <p class="joke">{data.joke}</p>
    </div>
</footer>
<style lang="scss">
    footer{
        display: flex;
        width: 100%;
        margin-top: 10rem;
        background-color: hsl(var(--color-primary-color));
        color: #FFF;
        padding: 2rem 0;
    }
    .container{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        text-align: center;
        .meta{
            justify-content: center;
            flex-flow: row nowrap;
            gap: 1rem;
            width: 100%;
        a{
            color: #FFF;

            &:visited{
                color: #FFF;
            }
        }
        }
        
    }
    .joke{
        display: contents;
        justify-self: center;
        justify-content: center;
        width: 60ch;
        align-self: center;
    }
</style>
