---
const joke = await fetch('https://v2.jokeapi.dev/joke/Programming?blacklistFlags=nsfw&type=single');
const data = await joke.json();
---
<footer>
    <div class="container">
        <div class="meta">
                    
            <strong>George Goldsmith - </strong> <a href="https://github.com/oddballadmin/" target="_blank">My Github</a>
        </div>
        <p>{new Date()}</p>
        <p>{data.joke}</p>
    </div>
</footer>
<style lang="scss">
    footer{
        width: 100%;
        margin-top: 10rem;
    }
    .container{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        text-align: center;
        .meta{
            justify-content: center;
            flex-flow: row nowrap;
            gap: 1rem;
        width: 100%;

        }
        
    }
</style>
