---
import TopNavigation from "./Top-Navigation.astro";
import brandImg from '../../public/oi-logo.webp';
import { Image } from "astro:assets";
---
<header>
    <div class="brand"><Image src={ brandImg } alt="Brand Logo"/></div>
    <TopNavigation/>
</header>