---

---
<section class="skill-list">
    <slot/>
</section>
<style>
    .skill-list{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-content: center;
        gap: 1rem;
        height: auto;
        max-width: 50%;
        align-self: center;
    }
</style>