---

---
<nav>
<ul>
    <li class="nav-item active"><a class="nav-link" href="#">Home</a></li>
    <li class="nav-item"><a class="nav-link" href="#">Portfolio</a></li>
    <li class="nav-item"><a class="nav-link" href="#">Contact Me</a></li>
</ul>
</nav>